@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

a:hover {
    text-decoration: underline;
}

body {
    background: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    width: 400px;
    background: #fff;
    box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.2); 
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto;
}


#top {
    padding: 30px;
    background: linear-gradient(90deg, #456BCE 0%, #00E0FF 100%);
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
}

#top .name {
    text-align: left;
}

#top .designer {
    text-align: right;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#middle {
    border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
}

#work {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.work {
    font-weight: normal;
    font-size: 48px;
    color: black;
}

#work .link {
    font-size: 24px;
    font-weight: 500;
    color: #3183ff;
}

.rc {
    padding-top: 10px;
    padding-bottom: 5px;
}

.recent {
    padding-top: 5px;
}

#bottom .img {
    padding-top: 33px;
    padding-bottom: 33px;
    text-align: center;
    display: block;
}

#email {
    padding-top: 20px;
    background: linear-gradient(-90deg, #456BCE 0%, #00E0FF 100%);
    box-shadow: 0px -6px 20px rgba(0, 0, 0, 0.25);
    padding-bottom: 20px;
    text-align: center;
    border-radius: 20px;
}

/*what the fuck is this*/
#email .address {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    color: white;
}
